doctype html
html
  head
    title Manage Comments - Student1
    link(rel='stylesheet' href='/css/student1.css')

  body
    h1 Manage Comments

    if comments.length
      table
        thead
          tr
            th ID
            th Comment
            th Actions
        tbody
          each comment in comments
            tr
              td= comment.id
              td= comment.content
              td
                form(action=`/comments/delete/${comment.id}` method='POST' style='display:inline')
                  button(type='submit') Delete
                a(href=`/comments/edit/${comment.id}`) Edit
    else
      p No comments yet.

    // Updated link to route back to the main landing page
    a(href='/') Back to Main Page