doctype html
html
  head
    title Party Studies - Student 1
    link(rel='stylesheet' href='/css/student1.css')
  body
    // Back to Main Page Button (Top-Left)
    a.button.back(href='/') Back to Main Page

    // Hero Section
    section.hero
      h1 Welcome to Party Studies!
      p Discover the ultimate in party planning, event creation, and intergalactic fun.

    h2 Party Studies

    h2 Location
    section.location
      p 🌌 Our party central is located on Saturn! Join us for events that are out of this world, in the ultimate cosmic setting.

    h2 About
    section.about
      h3 Major Overview
      p Dive deep into the art and science of partying, mastering everything from event planning to crowd engagement.
      h3 Courses Offered
      p Classes include "History of Partying," "Party Economics," and "Advanced DJ Techniques."
      h3 Career Opportunities
      p Graduates become party planners, DJs, and event managers with skills recognized galaxy-wide.

    h2 Things To Do
    section.activities
      ul
        li 🎉 Attend intergalactic music festivals
        li 🪐 Organize planet-wide celebrations
        li 🚀 Master zero-gravity dancing

    // Student Feedback Section
    h2 Student Feedback
    section.feedback
      ul#commentList
        if comments.length
          each comment in comments
            li.comment= comment
        else
          p No comments yet. Be the first to add your feedback!

      h3 Add a Comment
      form#addCommentForm(action='/comments/add' method='POST')
        textarea(name='comment' required placeholder='Enter your comment here...')
        br
        button(type='submit' class='add-comment-btn') Add Comment

      // Separate class for Manage Comments Button
      a.button.manage-comments-btn(href='/comments') Manage Comments

    // Gallery Section with Captions
    h2 Party Highlights
    div.gallery
      figure
        img(src='/img/party1.jpg' alt='Dance Floor')
        figcaption Dance Floor Extravaganza
      figure
        img(src='/img/party2.jpg' alt='DJ Booth')
        figcaption DJ Booth and Music Vibes

    script(src='/js/student1.js')